@import url("https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&family=MedievalSharp&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--scales: #ebce2c;
	--teal: #0d7c73;
	--light-teal: #39f8f5;
	--dark-teal: #013836;
}

body {
	margin: 0;
	font-family: Macondo Swash Caps, sans-serif;
	text-align: center;
}

p {
	line-height: 1.4;
}

.mute-btn {
	position: fixed;
	margin: 16px;
	background: var(--light-teal);
	padding: 8px;
	border-radius: 50%;
}
.top {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 40px;
	background-image: url("./img/forest.jpg");
	background-size: cover;
}
#intro {
	color: white;
	background: var(--dark-teal);
	padding: 12px;
}
.options {
	display: flex;
	justify-content: space-evenly;
}
.options div {
	height: 100px;
}

/*Code below modified from https://www.codeguage.com/blog/shimmer-effect-html-css.*/
@keyframes shimmer {
	to {
		background-position-x: 100%;
	}
}
.shimmer {
	width: 350px;
	height: 100px; /*Width of options*/
	background: linear-gradient(
		-45deg,
		transparent 35%,
		white 50%,
		transparent 65%
	);
	transform: translateY(-105px);
	background-size: 40%;
	background-position-x: 0%;
	background-repeat: no-repeat;
	animation: shimmer 0.75s infinite linear;
}

.center-helpful {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 460px;
}
.scales {
	height: 280px;
	width: 320px;
	padding: 40px 10px 20px 10px;
	background: var(--teal);
	border-radius: 16px;
}
.scales div {
	position: absolute;
}
#bar {
	width: 250px;
	height: 10px;
	background: var(--scales);
	margin-left: 35px;
	border-radius: 50px;
}
.pole {
	width: 14px;
	height: 275px;
	background: var(--scales);
	margin-left: 152px;
	border-radius: 50px;
}

.black-triangle {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 150px solid var(--scales);
	margin-left: 10px;
}
.white-triangle {
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 130px solid var(--teal);
	margin: 10px 0 0 20px;
}
.bowl {
	width: 120px;
	height: 40px;
	border-radius: 0px 0px 60px 60px;
	background: var(--scales);
	margin-top: 140px;
}
#right > div {
	transform: translate(200px);
}
.base {
	width: 120px;
	height: 30px;
	background: var(--scales);
	border-radius: 50%;
	margin: 250px 0 0 100px;
}
